/*
  Breezeum-Select CSS Customization

  Customize the appearance of the Breezeum Select by overriding the following CSS variables:

  --breezeum-padding: Padding for the selected item and options (default: .5rem 1rem).
  --breezeum-bg-color: Background color for the selected item and options dropdown (default: rgba(30, 30, 30, .25)).
  --breezeum-backdrop-filter: Blur effect on the background (default: blur(.25rem)).
  --breezeum-border-radius: Radius for rounded corners (default: .5rem).
  --breezeum-border-width: Width of the border (default: .1rem).
  --breezeum-border-color: Color of the border (default: rgba(255, 255, 255, .25)).
  --breezeum-text-color: Text color for the selected item and options (default: #fff).
  --breezeum-font-size: Font size for the selected item (default: 1rem).
  --breezeum-box-shadow: Box shadow for the options dropdown (default: 0 0.25rem 0.5rem rgba(0, 0, 0, .25)).
  --breezeum-option-bg-color: Background color for each option (default: rgba(30, 30, 30, .25)).
  --breezeum-option-hover-bg-color: Background color when hovering over an option (default: rgba(150, 150, 150, .25)).
  --breezeum-options-margin-top: Margin between the selected item and options (default: .25rem).
*/


.breezeum-select {
	position: relative;
	cursor: pointer;
}

.breezeum-select .breezeum-selected {
	padding: var(--breezeum-padding, .5rem 1rem);
	background-color: var(--breezeum-bg-color, rgba(30, 30, 30, .25));
	backdrop-filter: var(--breezeum-backdrop-filter, blur(.25rem));
	border-radius: var(--breezeum-border-radius, .5rem);
	border: var(--breezeum-border-width, .1rem) solid var(--breezeum-border-color, rgba(255, 255, 255, .25));
	text-align: center;
	color: var(--breezeum-text-color, #fff);
	font-size: var(--breezeum-font-size, 1rem);
}

.breezeum-select .breezeum-options {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border-radius: var(--breezeum-border-radius, .5rem);
	border: var(--breezeum-border-width, .1rem) solid var(--breezeum-border-color, rgba(255, 255, 255, .25));
	display: none;
	background-color: var(--breezeum-bg-color, rgba(30, 30, 30, .25));
	z-index: 10;
	box-shadow: var(--breezeum-box-shadow, 0 .25rem .5rem rgba(0, 0, 0, .25));
}

.breezeum-select.show .breezeum-options {
	margin-top: var(--breezeum-options-margin-top, 0.25rem);
	display: flex;
	flex-direction: column;
}

.breezeum-select .breezeum-option {
	padding: var(--breezeum-padding, .5rem 1rem);
	background-color: var(--breezeum-option-bg-color, rgba(30, 30, 30, .25));
	text-align: center;
	cursor: pointer;
	color: var(--breezeum-text-color, #fff);
}

.breezeum-select .breezeum-option:hover {
	background-color: var(--breezeum-option-hover-bg-color, rgba(150, 150, 150, .25));
}