/*
	Breezium-Select CSS Customization

	Customize the appearance of the Breezium Select by overriding the following CSS variables:

	--breezium-padding: Padding for the selected item and options (default: .5rem 1rem).
	--breezium-bg-color: Background color for the selected item and options dropdown (default: rgba(30, 30, 30, .25)).
	--breezium-hover-bg-color: Background color for the selected item on hover (default: rgba(100, 100, 100, .25)).
	--breezium-backdrop-filter: Blur effect on the background (default: blur(.25rem)).
	--breezium-border-radius: Radius for rounded corners (default: .5rem).
	--breezium-border-width: Width of the border (default: .1rem).
	--breezium-border-color: Color of the border (default: rgba(255, 255, 255, .25)).
	--breezium-text-color: Text color for the selected item and options (default: #fff).
	--breezium-font-size: Font size for the selected item (default: 1rem).
	--breezium-box-shadow: Box shadow for the options dropdown (default: 0 0.25rem 0.5rem rgba(0, 0, 0, .25)).
	--breezium-option-bg-color: Background color for each option (default: rgba(30, 30, 30, .25)).
	--breezium-option-hover-bg-color: Background color when hovering over an option (default: rgba(150, 150, 150, .25)).
	--breezium-options-margin-top: Margin between the selected item and options (default: .25rem).
	--breezium-background-hover-transition: Time of background/background-color transition on hover/active (default: .2s).
*/


.breezium-select {
	position: relative;
	cursor: pointer;
}

.breezium-select .breezium-selected {
	padding: var(--breezium-padding, .5rem 1rem);
	background-color: var(--breezium-bg-color, rgba(30, 30, 30, .25));
	backdrop-filter: var(--breezium-backdrop-filter, blur(.25rem));
	border-radius: var(--breezium-border-radius, .25rem);
	border: var(--breezium-border-width, .1rem) solid var(--breezium-border-color, rgba(255, 255, 255, .25));
	text-align: center;
	color: var(--breezium-text-color, #fff);
	font-size: var(--breezium-font-size, 1rem);
	transition: background-color var(--breezium-background-hover-transition, .2s) ease;
}

.breezium-select .breezium-selected:hover {
	background-color: var(--breezium-hover-bg-color, rgba(100, 100, 100, .25));
}

.breezium-select .breezium-options {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border-radius: var(--breezium-border-radius, .25rem);
	border: var(--breezium-border-width, .1rem) solid var(--breezium-border-color, rgba(255, 255, 255, .25));
	display: none;
	background-color: var(--breezium-bg-color, rgba(30, 30, 30, .25));
	z-index: 10;
	box-shadow: var(--breezium-box-shadow, 0 .25rem .5rem rgba(0, 0, 0, .25));
}

.breezium-select.show .breezium-options {
	margin-top: var(--breezium-options-margin-top, 0.25rem);
	display: flex;
	flex-direction: column;
}

.breezium-select .breezium-option {
	padding: var(--breezium-padding, .5rem 1rem);
	background-color: var(--breezium-option-bg-color, rgba(30, 30, 30, .25));
	text-align: center;
	cursor: pointer;
	color: var(--breezium-text-color, #fff);
	transition: background-color var(--breezium-background-hover-transition, .2s) ease;
}

.breezium-select .breezium-option:hover {
	background-color: var(--breezium-option-hover-bg-color, rgba(150, 150, 150, .25));
	transition: background-color .2s ease;
}